*.acn
*.aux
*.bcf
*.idx
*.lof
*.log
*.lot
*.out
*.run
*.slo
*.toc
*.xdy
*.dtx
*.mw
mestrado.bbl
mestrado.blg
mestrado.fdb_latexmk
mestrado.fls
mestrado.ind
mestrado.pdf
mestrado.run.xml
mestrado.synctex.gz
mestrado.xmpdata
pdfa.xmpi
.DS_Store
